.footer {
  width: 100%;
  min-height: 80px;
  background-color: $color-black;

  .footer-navbar {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list {
    display: flex;

    a {
      text-decoration: none;
      font-size: 17px;
      line-height: 22px;
      font-weight: 900;
      color: $color-yellow;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 1400px) {
  .footer {
    .footer-navbar {
      // padding: 15px 20px;
    }
  }
}

@media screen and (max-width: 992px) {
  .footer {
    .container {
      max-width: 768px;
    }

    .list {
      display: flex;

      a {
        text-decoration: none;
        font-size: 14px;
        line-height: 22px;
        font-weight: 900;
        color: $color-yellow;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    .container {
      // max-width: 768px;
    }

    .footer-navbar {
      justify-content: center;
    }

    .list {
      display: none;
    }
  }
}
