.our-services {
  padding: 95px 300px;

  .title-wrapper {
    position: relative;

    .title {
      position: relative;
      z-index: 2;
      text-align: start;
      margin-bottom: 55px;
    }

    &:before {
      content: "";
      display: block;
      width: 230px;
      height: 18px;
      background-color: $color-yellow;
      position: absolute;
      z-index: 1;
      top: 10px;
      left: -35px;
    }
  }

  .our-services__list {
  }

  .our-services__list-item {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 100px;
    }
  }

  .our-services__img-wrapper {
    width: 512px;
    min-width: 512px;
    min-height: 271px;
    display: flex;
    align-items: center;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .our-services__list-item-content {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin-left: 85px;

    .content-title {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 900;
      text-transform: uppercase;
    }

    .content-description {
    }

    .content__list {
      margin-bottom: 20px;
    }

    .content__item {
      font-size: 18px;
      line-height: 22px;

      span {
        font-weight: 700;
      }
    }

    .btn.btn-outline-warning {
      color: $color-black;
      border-color: $color-yellow;
      border-width: 3px;
      width: 260px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .our-services {
    padding: 70px 150px;

    .our-services__img-wrapper {
      width: 30%;
      min-width: 30%;
    }

    .our-services__list-item-content {
      max-width: 70%;
    }
  }
}

@media screen and (max-width: 1400px) {
  .our-services {
    padding: 40px 7.14%;

    .our-services__container {
      max-width: 1200px;
    }

    .our-services__img-wrapper {
      width: 360px;
      min-width: 360px;
    }

    .our-services__list-item {
      &:not(:last-of-type) {
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .our-services {
    .our-services__list-item-content {
      margin-left: 30px;
    }
  }
}

@media screen and (max-width: 992px) {
  .our-services {
    .our-services__list-item-content {
      margin: 0;
      max-width: 100%;
      width: 100%;
    }

    .our-services__img-wrapper {
      width: 100%;
      margin-bottom: 30px;
    }

    .our-services__list-item {
      flex-direction: column;

      &:not(:last-of-type) {
        margin-bottom: 50px;
      }

      .btn {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .our-services {
    .our-services__list-item {
      margin-bottom: 0;
    }
  }
}
